[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python-rf = "*"
configparser = "*"
"mecab-python3" = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
joblib = "==0.12.2"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
